html {
    background: url("../static/sky.jpeg") no-repeat;
    background-size: 100%;
}

.button {
    display: inline-block;
    border: 2px solid dimgrey;
    margin: 20px;
    padding: 10px;
    width: 103px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: dimgrey;
    border-radius: 10%;
    box-shadow: 0 0 5px black;
}

.button:hover{
    text-decoration: none;
    color: dimgrey;
    box-shadow: 0 0 10px black;
}

.container {
    max-width: 50%;
    position: fixed;
    top: 50%;
    transform: translate(63%, -75%);
}