<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
     <link rel="stylesheet" href="/static/download.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/63f0a28234.js"></script>
</head>
<body>

<div class="container-fluid container-table" style="background:transparent;">
    <div class="row vertical-center-row">

        <div class="col-md-6">
            <object class="file_display" data="{{ download_link }}"></object>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalhes</h3>
                </div>

                <div class="panel-body" data-toggle="tooltip" data-placement="left" data-original-title="Título original do documento.">
                    <p>Nome: {{ file_name }}</p>
                </div>

                <div class="panel-body" data-toggle="tooltip" data-placement="left" data-original-title="Hash única e imutável para este documento.">
                    <p>Hash: {{ file_hash }}</p>
                </div>

                <div class="panel-body" data-toggle="tooltip" data-placement="left" data-original-title="Data e hora em que a transação foi recebida no sistema. Não reflete necessariamente a hora em que foi incluída na blockchain.">
                    <p>Upload em: {{ file_timestamp }}</p>
                </div>

                 <div class="panel-body" data-toggle="tooltip" data-placement="left" data-original-title="Chave pública do dono nesta transação, que não é necessariamente o dono atual.">
                    <p >Dono: {{ current_owner }}</p>
                </div>

                <div class="panel-body" data-toggle="tooltip" data-placement="left" data-original-title="ID desta transação.">
                    <p >Tx: {{ transaction_id }}</p>
                </div>

                <div class="panel-body" data-toggle="tooltip" data-placement="left" data-original-title="Indica se esta transação é considerada válida ou inválida.">
                    <p >Status: {{ status }}</p>
                </div>

                <div id="download-button" class="panel-body">
                    <button onclick="voltar()" class="btn btn-primary">Voltar</button>
                    <a href="{{ download_link }}" download="{{ file_name }}" class="btn btn-link">Download</a>
                </div>

            </div>

            {% if isOwner != None %}
                {% if isOwner == True %}
                    <div class="alert alert-dismissible alert-success">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <h4>Confere!</h4>
                      <p>A assinatura pública informada é idêntica a encontrada nesta transação.</p>
                    </div>
                {% else %}
                    <div class="alert alert-dismissible alert-danger">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <h4>Não confere!</h4>
                      <p>A assinatura pública informada é diferente da encontrada nesta transação.</p>
                    </div>
                {% endif %}
        {% endif %}
        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    function voltar() {
        window.history.back();
    }

</script>

</html>