<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCC2</title>
    <link rel="stylesheet" href="/static/index.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/63f0a28234.js"></script>
</head>
<body>

{% if success == True %}
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Transação concluída com <strong>Sucesso</strong>.
</div>
{% endif %}

<div class = "container">
    <a class="button" data-toggle="modal" data-target="#modal-upload">Upload <i class="fa fa-cloud-upload" aria-hidden="true"></i></a>
    <a class="button" data-toggle="modal" data-target="#modal-transfer">Transferir <i class="fa fa-handshake-o" aria-hidden="true"></i></a>
    <a class="button" data-toggle="modal" data-target="#modal-download">Consultar <i class="fa fa-search" aria-hidden="true"></i></a>
</div>

<div class="modal" id="modal-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="formUpload" class="form-horizontal" action={{ url_for('upload') }} method="POST" enctype=multipart/form-data>
                    <fieldset>
                        <legend>Precisamos de sua chave...</legend>
                        <div class="form-group">
                            <label for="publicKey" class="col-lg-2 control-label">Pública</label>
                            <div class="col-lg-10">
                                <input name="pubKey" id="publicKey" type="text" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="privateKey" class="col-lg-2 control-label">Privada</label>
                            <div class="col-lg-10">
                                <input name="privKey" id="privateKey" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="button" class="btn btn-success" id="gerarChaves">Gerar par de chaves</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fileInput" class="col-lg-2 control-label">Arquivo</label>
                            <div class="col-lg-10">
                                <input type="file" class="form-control" class="fileInput" name="file">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" form="formUpload" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-download">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="form-download" class="form-horizontal" action={{ url_for('download') }} method="POST">
                    <fieldset>
                        <div class="form-group">
                            <label for="tx_id" class="col-lg-3 control-label">ID Transação</label>
                            <div class="col-lg-7">
                                <input name="tx_id" type="text" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-5">
                                <button type="submit" form="form-download" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-transfer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="formTransfer" class="form-horizontal" action={{ url_for('transfer') }} method="POST" enctype=multipart/form-data>
                    <fieldset>
                        <legend>De</legend>

                        <div class="form-group">
                            <label for="sender-privateKey" class="col-lg-2 control-label">Privada</label>
                            <div class="col-lg-10">
                                <input name="sender-privKey" id="sender-privateKey" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tx_id_send" class="col-lg-2 control-label">Tx ID</label>
                            <div class="col-lg-10">
                                <input name="tx_id_send" type="text" class="form-control input">
                            </div>
                        </div>

                        <legend>Para</legend>

                        <div class="form-group">
                            <label for="dest-publicKey" class="col-lg-2 control-label">Pública</label>
                            <div class="col-lg-10">
                                <input name="dest-pubKey" id="dest-publicKey" type="text" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" form="formTransfer" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script>
    $(document).ready(function () {
        $('#gerarChaves').click(function () {
            $.getJSON($SCRIPT_ROOT + '/generateKeys', function(data) {
                $('#publicKey').val(data.public);
                $('#privateKey').val(data.private);
            });
        });
    })
</script>
</html>