<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCC2</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://use.fontawesome.com/63f0a28234.js"></script>
</head>
<body>

<div class = "container">
    <a class="button" data-toggle="modal" data-target="#modal-upload">Upload <i class="fa fa-cloud-upload" aria-hidden="true"></i></a>
    <a class="button" data-toggle="modal" data-target="#modal-transfer">Transferir <i class="fa fa-handshake-o" aria-hidden="true"></i></a>
    <a class="button" data-toggle="modal" data-target="#modal-download">Consultar <i class="fa fa-search" aria-hidden="true"></i></a>
</div>

{% if success == True %}
    <div class="containerAlert alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Transação concluída com <strong>Sucesso</strong>.
    </div>
{% endif %}

{% if error == True %}
    <div class="containerAlert alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
{% endif %}

<div class="modal" id="modal-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Upload de Documento</h4>
            </div>
            <div class="modal-body">
                <form id="formUpload" class="form-horizontal" action="{{ url_for('upload') }}"  method="POST" enctype=multipart/form-data>
                    <fieldset>
                        <div class="form-group">
                            <label for="publicKey" class="col-lg-2 control-label">Pública</label>
                            <div class="col-lg-10">
                                <input name="pubKey" id="publicKey" type="text" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="privateKey" class="col-lg-2 control-label">Privada</label>
                            <div class="col-lg-10">
                                <input name="privKey" id="privateKey" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fileInput" class="col-lg-2 control-label">Arquivo</label>
                            <div class="col-lg-10">
                                <input type="file" class="form-control fileinput" name="file">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" form="formUpload" class="btn btn-primary">Submeter</button>
                                <a href="{{ url_for('generate_keys') }}" class="btn btn-success" id="gerarChaves">Gerar par de chaves</a>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-download">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Consultar Documento</h4>
            </div>
            <div class="modal-body">
                <form id="form-download" class="form-horizontal" action="{{ url_for('download') }}" method="POST">
                    <fieldset>
                        <div class="form-group">
                            <label for="tx_id" class="col-lg-5 control-label">Referência do Documento</label>
                            <div class="col-lg-7">
                                <input id="tx_id" name="tx_id" type="text" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="publicKey" class="col-lg-4 control-label" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Utilize este campo para saber se o documento foi submetido por esta assinatura.">Assinatura Pública</label>
                            <div class="col-lg-8">
                                <input name="pubKey" id="publicKey" type="text" placeholder="Opcional" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-5">
                                <button type="submit" form="form-download" class="btn btn-primary">Submeter</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-transfer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Transferência de Documento</h4>
            </div>
            <div class="modal-body">
                <form id="formTransfer" class="form-horizontal" action="{{ url_for('transfer') }}"  method="POST" enctype=multipart/form-data>
                    <fieldset>
                        <legend>De</legend>

                        <div class="form-group">
                            <label for="tx_id_send" class="col-lg-5 control-label">Referência do Documento</label>
                            <div class="col-lg-7">
                                <input id="tx_id_send" name="tx_id_send" type="text" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sender-privateKey" class="col-lg-4 control-label">Assinatura Privada</label>
                            <div class="col-lg-8">
                                <input name="sender-privKey" id="sender-privateKey" type="text" class="form-control">
                            </div>
                        </div>

                        <legend>Para</legend>

                        <div class="form-group">
                            <label for="dest-publicKey" class="col-lg-4 control-label">Assinatura Pública</label>
                            <div class="col-lg-8">
                                <input name="dest-pubKey" id="dest-publicKey" type="text" class="form-control input">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" form="formTransfer" class="btn btn-primary">Submeter</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<footer id = "footer">
<p>Made with <span style="color: #e25555;">&#9829;</span> by <a target="_blank" style="text-decoration: none; background: transparent; color:inherit;" href="https://github.com/gabrielmendanha">Gabriel Mendanha</a> in Quixadá</p>
</footer>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script>
    $("[data-toggle='tooltip']").tooltip();
</script>
</html>