<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="/static/upload.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid container-table" style="background:transparent;">
    <div class="row vertical-center-row">
        <div class="col-md-12">
            <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>Aviso!</h4>
              <p>Quarde as informações abaixo em um local seguro. Sem essas informações
                  não será possível transferir ou consultar o seu documento.</p>
            </div>
            <div class="panel panel-success" >
                <div class="panel-heading">
                    <h3 class="panel-title">Detalhes</h3>
                </div>

                <div class="panel-body" data-toggle="tooltip" data-placement="left" title="" data-original-title="Isto serve para localizar o seu documento.">
                    <p>Referência do Documento: {{ txid }}</p>
                </div>

                <div class="panel-body" data-toggle="tooltip" data-placement="left" title="" data-original-title="Representa o dono deste documento.">
                    <p>Assinatura Pública: {{ public_key }}</p>
                </div>

                <div id="download-button" class="panel-body">
                    <button onclick="voltar()" class="btn btn-primary">Voltar</button>
                    <a href='{{ url_for('uploadReceipt', tx_id=txid, pub_key=public_key, priv_key=private_key) }}'  class="btn btn-link">Comprovante</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>

<script>
    function voltar() {
        window.history.back();
    }

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

</script>

</html>